            <div class="row">
                <div class="col-md-12">
                    <div class="my-footer">
                        Виконала - Оксана Іщук
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
    <script src="/js/plotly-latest.min.js"></script>
    
    <script src="/js/pdfmake.min.js"></script>    
    <script src="/js/vfs_fonts.js"></script>    
    
    <script src="/js/booker-frontend.js"></script>    
</body>
</html>