<% include ../partials/head %>

<div class="row not-found">
    <div class="col-md-12">
        <span class="glyphicon glyphicon-ban-circle"></span>
        <h2>Помилочка 404 =(</h2>
        <p>Нажаль такої сторінки не існує!</p>
    </div>
</div>

<% include ../partials/footer %>
