<% include ../partials/head %>

<div class="row index-splash">
    <div class="col-md-5 index-splash-text">
        <h1>Привіт!</h1>                    
        <p>Ти завітав на сторінку найдобрішого у світі онлайн-гаманьцю! 
            <br/>Я допоможу тобі краще слідкувати за усіми твоїми фінансовими операціями. 
            <br/>Реєструйся вже сьогодні!</p>
        <p>
            <a id="index-btn-register" class="btn btn-primary btn-lg" href="/register">Зарегіструватися зараз!</a>
            <a id="index-btn-login" class="btn btn-default btn-lg" href="/login">Увійти</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 index-feature">
        <h2>У хмарі!</h2>
        <span class="glyphicon glyphicon-cloud"></span>
        <p>Усі твої данні завжди доступні з будь-якого пристрою, потрібно лише мати з'єднання з мережою інтернет!</p>
    </div>
    <div class="col-md-4 index-feature">
        <h2>Заощаджуй!</h2>
        <span class="glyphicon glyphicon-piggy-bank"></span>
        <p>Слідкуй за своїми витратами, встановлюй ліміти, плануй покупки та багато іншого... Cloud Booker - стане твоїм персональним фінансовим радником!</p>
    </div>
    <div class="col-md-4 index-feature">
        <h2>З любов'ю!</h2>
        <span class="glyphicon glyphicon-heart"></span>
        <p>Кожен рядок коду написанний з особливим піклуванням про твою безпеку та комфорт!</p>
    </div>
</div>

<% include ../partials/footer %>