<% include ../partials/head %>

<div class="row index-splash">
    <div class="col-md-5 index-splash-text">
        <h1>Привіт!</h1>                    
        <p>Ти завітав на сторінку найзручнішого у світі веб-орієнтовного сервісу для управління фінансовими потоками ІТ компаній! 
            <br/>Цей сервіс стане найкращим помічником для будь-кого хто хоче впорядковувати, аналізувати та звітувати. 
            <br/>Реєструйся вже сьогодні!</p>
        <p>
            <a id="index-btn-register" class="btn btn-primary btn-lg" href="/register">Зарегіструватися зараз!</a>
            <a id="index-btn-login" class="btn btn-default btn-lg" href="/login">Увійти</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 index-feature">
        <h2>У хмарі!</h2>
        <span class="glyphicon glyphicon-cloud"></span>
        <p>Усі твої данні завжди доступні з будь-якого пристрою, потрібно лише мати з'єднання з мережою інтернет!</p>
    </div>
    <div class="col-md-4 index-feature">
        <h2>Зручно!</h2>
        <span class="glyphicon glyphicon-wrench"></span>
        <p>Назва компанії, кольори користувацького інтерфейсу, кількість елементів на сторінці - усе це можна налаштувати для себе індивідуально!</p>
    </div>
    <div class="col-md-4 index-feature">
        <h2>32 валюти!</h2>
        <span class="glyphicon glyphicon-usd"></span>
        <p>Так, так! Цей сервіс має підтримку тридцяти двох валют! Також можлива автоматична конвертація.</p>
    </div>
</div>

<% include ../partials/footer %>