<% include ../partials/head %>

<div class="row form-auth">
    <div class="col-md-4 col-md-offset-4">
        <h3>Відновлення паролю</h3>
		<label for="login">Логін</label>
		<div class="form-group">
			<input type="text" id="login" class="form-control">
		</div>
		<label for="password">Секрет</label>
		<div class="form-group">
			<input type="text" id="secret" class="form-control">
		</div>
		<label for="password">Новий пароль</label>
		<div class="form-group">
			<input type="password" id="password" class="form-control">
		</div>
		<button class="btn btn-primary" type="button" id="restore-btn">Відправити</button>
    </div>
</div>

<% include ../partials/footer %>